html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url('https://t4.ftcdn.net/jpg/03/43/65/09/360_F_343650961_QCPj6x51wxCFz6pYokHL5ierkG1mzq3F.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}